@model IEnumerable<Shop_Mobile.Models.BUS.GioHangViewModel>
@{
    ViewBag.Title = "HienThiThongTinSanPham";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Danh sách sản phẩm trong giỏ hàng</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Mã Sản Phẩm</th>
            <th>Tên Sản Phẩm</th>
            <th>Hình Ảnh</th>
            <th>Số Lượng</th>
            <th>Tổng Tiền</th>
            <!-- Thêm các cột khác tùy theo yêu cầu -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.IdGH</td>
            <td>@item.MaSanPham</td>
            <td>@item.TenSanPham</td>
            <td><img src="~/Asset/img/@item.HinhChinh" alt="Alternate Text" /></td>
            <td>@item.SoLuong</td>
            <td>@item.TongTien</td>
            <!-- Thêm các ô dữ liệu khác tùy theo yêu cầu -->
        </tr>
        }
    </tbody>
</table>


