@model List<Shop_Mobile.Models.BUS.HoaDonViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@{
    var tongTien = ViewBag.TongTien;
    var userID = ViewBag.UserID as string;
}
<style>
    .size-img{
        max-height:50px;
        max-width:50px;
    }
</style>

<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Chi tiết hóa đơn</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Hình Ảnh</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Thay đổi dữ liệu theo chi tiết hóa đơn của bạn -->
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> <a href="@Url.Action("Details","Shop", new {id = item.MaSanPham })">@item.TenSanPham</a></td>
                                        <td><a href="@Url.Action("Details","Shop", new {id = item.MaSanPham })"><img src="~/Asset/img/@item.HinhChinh" class="img-fluid size-img" /></a></td>
                                        <td>@item.SoLuong</td>
                                        <td><div class="price"><span>@Convert.ToDecimal(item.Gia).ToString("N0") đ</span></div></td>
                                        <td><div class="price"><span>@Convert.ToDecimal(item.TongTien).ToString("N0") đ</span></div></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="total" class="text-right">
                        <div class="price">Tổng Cộng:<span>@Convert.ToDecimal(tongTien).ToString("N0") đ</span></div>
                    </div>
                    <div>
                        @Html.Partial("_DiaChiThanhToan", Shop_Mobile.Models.BUS.ThanhToanBUS.GetThongTinKH(userID))
                    </div>
                    <div class="text-center my-3">
                        <a href="#" onclick="xuatHoaDon()" class="btn btn-primary" style="margin-bottom:20px;">Xuất Hóa đơn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   function xuatHoaDon() {
    // Gọi AJAX tới action Index để thêm hóa đơn
    $.ajax({
        url: '@Url.Action("Index","HoaDon")', 
        type: 'GET',
        success: function(response) {
            // Khi thêm hóa đơn thành công, hiển thị thông báo
            Swal.fire({
                title: 'Xác nhận mua hàng',
                text: "Bạn đã mua hàng thành công!",
                icon: 'success',
                confirmButtonText: 'Xác nhận',
                showCancelButton: true,
                cancelButtonText: 'Quay lại trang chủ'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Xử lý xóa giỏ hàng
                    xoaGioHang();
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    // Xử lý khi nhấn "Quay lại trang chủ"
                    window.location.href = '@Url.Action("Index","Home")';
                }
            });
        },
        error: function(error) {
            // Xử lý lỗi khi thêm hóa đơn không thành công
        }
    });
}


function xoaGioHang() {
    // Xử lý xóa giỏ hàng
    // Ví dụ: Gửi yêu cầu AJAX tới server để xóa giỏ hàng
    $.ajax({
        url: '@Url.Action("DeleteAllGH", "GioHang")', // Thay thế bằng URL thích hợp
        type: 'POST',
        success: function(response) {
             window.location.href = '@Url.Action("Index","Home")';
        },
        error: function(error) {
            // Xử lý lỗi
        }
    });
}
</script>