@model ShopConnection.SanPham
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@{
    var userId = ViewBag.userID;
}
<style>
    .comment-box-container {
        width: 100%;
        max-width: 600px; /* chiều rộng tối đa */
        margin: auto;
        padding: 15px;
    }

        .comment-box-container textarea {
            width: 100%; /* chiếm toàn bộ chiều rộng của container */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: vertical; /* cho phép thay đổi kích thước dọc */
            min-height: 100px; /* chiều cao tối thiểu */
        }

        .comment-box-container button {
            margin-top: 10px;
            padding: 10px 20px;
            border: none;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

            .comment-box-container button:hover {
                background-color: #0056b3;
            }

    /* Responsive cho các màn hình nhỏ hơn */
    media (max-width: 600px) {
        .comment-box-container

    {
        width: 90%;
    }
    }
</style>

<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="category.html">Category</a></li>
                    <li><a href="#">@Model.TenSanPham</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="product">
                    <div class="col-md-6">
                        <div class="image">
                            <img src="~/Asset/img/@Model.HinhChinh" />
                            <div class="image-more">
                                <ul class="row">
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/Asset/images/galaxy-note.jpg"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/Asset/images/galaxy-note-2.jpg"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/Asset/images/galaxy-note-3.jpg"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/Asset/images/galaxy-note-4.jpg"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="caption">
                            <div class="name"><h3>@Model.TenSanPham</h3></div>
                            <div class="info">
                                <ul>
                                    <li>Brand: text</li>
                                    <li>ID: 0122222</li>
                                </ul>
                            </div>
                            <div class="price">@Model.Gia</div>
                            <div class="options">
                                AVAILABLE OPTIONS
                                <select>
                                    <option value="" selected>----Please Select----</option>
                                    <option value="red">RED</option>
                                    <option value="black">BLACK</option>
                                </select>
                            </div>
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            <form action="@Url.Action("ThemVaoGioHang", "GioHang", new { maSanPham = Model.MaSanPham })" method="POST">
                                <!-- Trường input số lượng -->
                                <label>Qty: </label>
                                <input class="form-inline quantity" name="SoLuong" type="number" value="1" min="1" max="100">

                                <!-- Nút submit để gửi form -->
                                <input type="submit" value="ADD" class="btn btn-2">
                            </form>


                            <div class="share well">
                                <strong style="margin-right: 13px;">Share :</strong>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-desc">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description" data-target="#description" class="tab-link">Cấu Hình</a></li>
                        <li><a href="#review" data-target="#review" class="tab-link">Đánh Giá Sản Phẩm</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="description" class="tab-content">
                            <h4>Sample Lorem Ipsum Text</h4>
                            <p>@Model.CauHinh</p>
                            <h4>Sample Lorem Ipsum Text</h4>
                            <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque aliquet lacus vitae pede. Nullam mollis dolor ac nisi. Phasellus sit amet urna. Praesent pellentesque sapien sed lacus. Donec lacinia odio in odio. In sit amet elit. Maecenas gravida interdum urna. Integer pretium, arcu vitae imperdiet facilisis, elit tellus tempor nisi, vel feugiat ante velit sit amet mauris. Vivamus arcu. Integer pharetra magna ac lacus. Aliquam vitae sapien in nibh vehicula auctor. Suspendisse leo mauris, pulvinar sed, tempor et, consequat ac, lacus. Proin velit. Nulla semper lobortis mauris. Duis urna erat, ornare et, imperdiet eu, suscipit sit amet, massa. Nulla nulla nisi, pellentesque at, egestas quis, fringilla eu, diam.</p>
                        </div>
                        <div id="review" class="tab-content" style="display:none;">
                            <div class="comment-box-container">
                                @using (Html.BeginForm("Create", "BinhLuan", FormMethod.Post, new { id = "comment-form" }))
                                {
                                    <textarea id="comment" name="NoiDung" placeholder="Nhập bình luận của bạn..." required></textarea>
                                    <input type="hidden" name="MaSanPham" value="@Model.MaSanPham" />
                                    <button type="submit">Gửi Bình Luận</button>
                                }
                            </div>
                            <div id="comment-section">
                                @Html.Action("GetAllBinhLuan", "BinhLuan", new {maSanPham = @Model.MaSanPham })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-related">
                    <div class="heading"><h2>RELATED PRODUCTS</h2></div>
                    <div class="products">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="product.html"><img src="~/Asset/images/iphone.png" /></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3><a href="product.html">Aliquam erat volutpat</a></h3></div>
                                    <div class="price">$122<span>$98</span></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="product.html"><img src="~/Asset/images/galaxy-s4.jpg" /></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3><a href="product.html">Aliquam erat volutpat</a></h3></div>
                                    <div class="price">$122<span>$98</span></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="product.html"><img src="~/Asset/images/galaxy-note.jpg" /></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3></h3>x<a href="product.html">Aliquam erat volutpat</a></div>
                                    <div class="price">$122<span>$98</span></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="sidebar" class="col-md-4">
                <div class="widget wid-categories">
                    <div class="heading"><h4>CATEGORIES</h4></div>
                    <div class="content">
                        <ul>
                            <li><a href="#">PC Computers</a></li>
                            <li><a href="#">Laptops & Notebooks</a></li>
                            <li><a href="#">Mobiles & Tablet</a></li>
                            <li><a href="#">Software</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget wid-type">
                    <div class="heading"><h4>TYPE</h4></div>
                    <div class="content">
                        <select>
                            <option value="EL" selected>Electronics</option>
                            <option value="MT">Mice and Trackballs</option>
                            <option value="WC">Web Cameras</option>
                            <option value="TA">Tablates</option>
                            <option value="AP">Audio Parts</option>
                        </select>
                    </div>
                </div>
                <div class="widget wid-discouts">
                    <div class="heading"><h4>DISCOUNTS</h4></div>
                    <div class="content">
                        <label class="checkbox"><input type="checkbox" name="discount" checked="">Upto - 10% (20)</label>
                        <label class="checkbox"><input type="checkbox" name="discount">40% - 50% (5)</label>
                        <label class="checkbox"><input type="checkbox" name="discount">30% - 20% (7)</label>
                        <label class="checkbox"><input type="checkbox" name="discount">10% - 5% (2)</label>
                        <label class="checkbox"><input type="checkbox" name="discount">Other(50)</label>
                    </div>
                </div>
                <div class="widget wid-brand">
                    <div class="heading"><h4>BRAND</h4></div>
                    <div class="content">
                        <label class="checkbox"><input type="checkbox" name="brand">Nokia</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Samsung</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Iphone</label>
                        <label class="checkbox"><input type="checkbox" name="brand">HTC</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Oppo</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Kings</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Zumba</label>
                    </div>
                </div>
                <div class="widget wid-product">
                    <div class="heading"><h4>LATEST</h4></div>
                    <div class="content">
                        <div class="product">
                            <a href="#"><img src="~/Asset/images/galaxy-note.jpg" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Samsung Galaxy Tab</a></h5>
                                <div class="price">$122</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="#"><img src="~/Asset/images/galaxy-s4.jpg" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Samsung Galaxy Tab</a></h5>
                                <div class="price">$122</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="#"><img src="~/Asset/images/Z1.png" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Samsung Galaxy Tab</a></h5>
                                <div class="price">$122</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Asset/js/tab_link.js"></script>
<script>
    $(document).ready(function() {
        $("#comment-form").submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                url: '@Url.Action("Create", "BinhLuan")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    // Cập nhật kết quả bình luận vào DOM
                    $("#comment-section").append(result);
                    
                },
                
                error: function () {
                    // Xử lý lỗi
                }
            });
        });
});
</script>
